{
	"minify": true,
	"exclude": [
		"node_modules",
		"jest.config.ts",
		".*.spec.tsx?$",
		".*.test.tsx?$",
		"./src/jest-setup.ts$",
		"./**/jest-setup.ts$",
		".*.js$"
	],
	"jsc": {
		// "baseUrl": ".",
		"target": "es2018",
		"keepClassNames": true,
		"loose": false,
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true
		},
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		}
	},
	"module": {
		"type": "commonjs",
		"strict": true,
		"strictMode": true,
		"lazy": false,
		"noInterop": false
	}
}
