---
const currentPath = Astro.url.pathname;
---

<div class="nav-links">
		<a
			class={currentPath === '/' ? 'currentTab' : ''}
			href="/"
			>Home</a
		>
		<a
		class={currentPath === '/userGuide' ? 'currentTab' : ''}
		href="/userGuide"
		>User Guide</a
		>
		<a href="https://github.com/cisagov/RedEye">Help</a>
		<a href="https://www.youtube.com/watch?v=b_ARIVl4BkQ">Intro</a>
	</div>


<style>
	.currentTab {
		color: white !important;
	}
</style>
